.my-web-navbar{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-end; 
    padding: 5px 5px; 
    font-size: 18px; 
    background: #5f3686;
    border: 1px solid white; 
    box-shadow: 4px 2px 3px 1px;
}


.web-card-container{
    color: black; 
    font-weight: bold; 
    background: white; 
    font-family: 'Playfair Display', serif;

}

.web-title{
    font-size: 22px; 
    color: black; 
    font-weight: bold; 
    padding-left: 13px;
}

.web-article-content{
    padding-left: 13px; 
}

.web-links{
    display: flex; 
    justify-content: center; 
}

.user-selectors{
    display: flex; 
    width: 90%;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: auto; 
}

.username-thumbnail{
    padding-left: 13px; 
    padding-top: 13px; 
}

.myWeb-card-container{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column-reverse;
}

.myWeb-box{
    height: 20px; 
    width: 100%; 
    background: black; 
    margin: 0; 
    color: white; 
    text-align: center; 
    font-family: 'Playfair Display', serif;

}

.web-card-username{
    margin: 0px 
}


.loading-my-web{
    font-size: 22px; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    height: 80vh; 
    align-items: center; 
}

.my-web-navbar img{
    border: 2px solid black;
    border-radius: 50%; 
    padding: 3px;  
}