.my-web-navbar{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-end; 
    margin-top: 20px; 
    font-size: 18px; 
}


.web-card-container{
    margin: 20px 0px; 
    color: black; 
    font-weight: bold; 
    background: white; 
    font-family: 'Playfair Display', serif;

}

.web-title{
    font-size: 22px; 
    color: black; 
    font-weight: bold; 
    padding-left: 13px;
}

.web-article-content{
    padding-left: 13px; 
}

.web-links{
    display: flex; 
    justify-content: center; 
}

.user-selectors{
    display: flex; 
    width: 90%;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: auto; 
}

.username-thumbnail{
    padding-left: 13px; 
    padding-top: 13px; 
}

.myWeb-card-container{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column-reverse;
}

.myWeb-box{
    height: 20px; 
    width: 100%; 
    background: black; 
    margin: 0; 
    color: white; 
    text-align: center; 
    font-family: 'Playfair Display', serif;

}

.web-card-username{
    margin: 0px 
}