.newsCards{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column-reverse;
    width: 100%; 

}

.loading-political{
    font-size: 22px; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    height: 80vh; 
    align-items: center; 
}