.card-container{
    cursor: pointer; 
    color: black;
    background: white;
    font-family: 'Playfair Display', serif;
    margin:10px 0px 5px 0px; 
    border-top: 0.5px solid rgb(100, 96, 96); 
    border-bottom: 0.5px solid rgb(100, 96, 96); 

}

.title{
    font-size: 21px; 
    padding: 0px 13px; 
    font-weight: 700; 
    height: 100%; 
}

.article-image{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    min-width: 100%;
}


.newsCard-image{
    min-width: 89%;
    max-width: 89%;
    height: 180px; 
    border-top: 6px solid black;
    border-right: 1px solid black; 
    border-left: 1px solid black; 
}

.article-content{
    line-height: 1.4; 
    color: black; 
    font-size: 16px; 
    padding: 0px 13px;
    font-weight:700;
}

.links{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center; 
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

.links a {
    font-size: 20px; 
    text-decoration: none; 
}

.delete-button{
    text-align: center; 
}

.delete-button button{
    width: 85px;
    height: 40px; 
}

.spiderweb{
    height: 50px;
    width: 60px;  
}

hr{
    border-bottom-color: black;  
}

.currents-banner{
    color: black;
    font-weight: normal;
    font-size: 29px;
    margin:  8px auto; 
    font-family: 'Alegreya Sans', 'serif';
    border-top: 1px solid black;
    border-bottom:1px solid black;


}


