.form-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
    color: black; 
    margin: 7px 0px; 
    background: white; 
}

.form-container form{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 96%; 
    text-align: center; 
    font-weight: bold; 
    letter-spacing: 1px; 
    margin-bottom: 10px; 
}

.form-container input{
    margin: 0px 0px 25px 0px;  
    border: 2px solid black;
    border-radius: 25px; 
    height: 55px; 
    color: rgb(51, 1, 51);
    font-size: 20px;
    letter-spacing: 2px; 
    text-align: center;  
    /*background-color: rgba(0, 0, 0, 0); */
    
}

input:focus{
    outline: none; 
}

.button{
  background-color: rgba(94, 0, 94, 0.842);  
  border: 2px solid white;
  font-size: 32px; 
  padding: 10px; 
  border-radius: 10px;  
  display: flex; 
  letter-spacing: 2px; 
  color: white; 
  text-shadow:
  -1px -1px 0 maroon,
  1px -1px 0 maroon,
  -1px 1px 0 maroon,
  1px 1px 0 maroon;
  align-items: center; 
  justify-content: center; 
  width: 150px; 
}

.form-container h1{
    font-size: 45px; 
}

.form-container input::placeholder{
    text-align: center;
    font-size: 26px;  
    transform:translate3d(0,3px,0);
    color: black; 
}

.form-container h3{
    text-shadow:none; 
    padding: 15px 0px;
}