.form-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
    color: black; 
    margin: 7px 0px; 
    background: white; 
}

.form-container form{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 95%; 
    text-align: center; 
    letter-spacing: 1px; 
    margin-bottom: 10px; 
}

.form-container input{
    margin: 0px 0px 25px 0px;  
    border: 2px solid black;
    height: 45px; 
    color: rgb(51, 1, 51);
    font-size: 20px;
    letter-spacing: 2px; 
    text-align: center;  
    
}

input:focus{
    outline: none; 
}

.button{
  background-color: #0f65ef;
  font-size: 24px; 
  padding: 10px; 
  display: flex; 
  letter-spacing: 2px; 
  color: white; 
  align-items: center; 
  justify-content: center; 
  width: 227px; 
}

.button:focus{
    outline: none; 
}

.form-container h1{
    font-size: 35px; 
    text-align: center; 
}

.form-container input::placeholder{
    text-align: center;
    font-size: 26px;  
    transform:translate3d(0,3px,0);
    color: black; 
}

.form-container h3{
    text-shadow:none; 
    margin-top: 0px; 
}