.message-info{
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    color: white; 
    justify-content: space-evenly;
    border: 1px solid white; 
}

.message-closed{
    display: none; 
}

.message-open{
    display: flex; 
    flex-wrap: wrap; 
    color: white; 
}