.contact-card-container{
    border: 1px solid white; 
    width: 100%;
}

.message-info{
    width: 80%;
    display: flex; 
    flex-wrap: wrap; 
    color: white; 
    justify-content: space-between;
}

.message-closed{
    display: none; 
}

.message-open{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    color: white; 
}