.contact-cards{
    width: 90%;
    background: rgba(255, 255, 255, 0.384); 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column-reverse; 
}