.card-container{
    cursor: pointer; 
    color: black;
    background: white;
    font-family: 'Playfair Display', serif;
    margin:10px 0px 5px 0px; 
    border-top: 0.5px solid rgb(100, 96, 96); 
    border-bottom: 0.5px solid rgb(100, 96, 96);  
    padding-bottom: 10px; 
}

@media(min-width: 350px){
    .card-container{
        margin: 12px 0px 7px 0px; 
        box-shadow: 1px 2px 4px 2px;
    }
}


@media(min-width: 500px){
    .card-container{
        width: 75%;
        box-shadow: 1px 2px 4px 2px;
    }
}

@media(min-width: 700px){
    .card-container{
        width: 44%;
    }
}

@media(min-width: 1000px){
    .card-container{
        width: 30%;
    }
}

.desktop-image-content{
    display: flex; 
    flex-wrap: wrap; 
    padding-left: 35px;  
}


.title{
    font-size: 19px; 
    padding: 0px 15px; 
    font-weight: 800; 
}

@media(min-width: 350px){
    .title{
        font-size: 19px; 
    }
    .title p{
        margin-bottom: 10px; 
    }
}

@media(min-width: 500px){
    .title{
        font-size:14px; 
        padding: 0px 13px;
    }
}


.article-image{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    float: right;
    padding-right: 11px;
    padding-top: 5px;
}

@media(min-width: 500px){
    .article-image{
        width: 100%;
        float: none;
    }
}


.newsCard-image{
    min-width: 89%;
    max-width: 89%;
    height: 180px; 
    border-top: 6px solid black;
    border-right: 1px solid black; 
    border-left: 1px solid black; 
}

@media(min-width: 360px){
    .newsCard-image{
        height: 125px;
        min-width: 90%;
        max-width: 90%;
    }
}

@media(min-width: 500px){
    .newsCard-image{
        height: 150px; 
    }
}


.article-content{
    line-height: 1.4; 
    color: black; 
    font-size: 14px; 
    padding: 0px 15px;
    font-weight:700;
}

@media(min-width: 350px){
    .article-content{
        font-size: 14px;
    }
}

@media(min-width: 500px){
    .article-content{
        font-size: 12px;
        padding: 0px 13px; 
    }
}

.author{
    padding-left: 15px; 
    margin-bottom: 5px;
    color: blue; 
}

@media(min-width: 350px){
    .author{
        font-size: 14px;
    }
}

@media(min-width: 500px){
    .author{
        font-size: 12px;
        padding-left: 13px; 
    }
}

p.author{
    margin-top: 0px; 
}

.timestamp{
    text-align: center
}

@media(min-width: 350px){
    .timestamp{
        font-size: 12px;
    }
}

.links{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    font-size: 18px; 
    font-weight: bold; 
    margin: 10px auto; 
    border: 1px solid black; 
    width: 125px; 
    border-radius: 15px; 
    height: 30px; 
}

.links:hover{
    background: black; 
    color: white; 
}

@media(min-width: 460px){
    .links{
        font-size: 13px;
        height: 20px; 
    }
}

@media(min-width: 500px){
    .links{
        width: 90%; 
    }
}

.delete-button{
    text-align: center; 
}

.delete-button button{
    width: 85px;
    height: 40px; 
}

.spiderweb{
    height: 50px;
    width: 60px;  
}

hr{
    border-bottom-color: black;  
}

.feeds-hr{
    width: 90%; 
    text-align: center; 
}

@media(min-width: 500px){
    .feeds-hr{
        width: 90%; 
    }
}



.currents-banner{
    color: black;
    font-weight: normal;
    font-size: 28px;
    margin:  8px auto; 
    font-family: 'Playfair Display', 'serif';
    border-bottom: 1px solid black;
}

@media(min-width:350px){
    .currents-banner{
        font-size: 30px;  
        margin:  10px auto; 
    }
}

@media(min-width:561px){
    .currents-banner{
        display: none; 
    }
}

.currents-banner-top{
    display: none; 
}

@media(min-width: 361px){ 
    .currents-banner-top{
        display: block; 
        width: 100%; 
        font-weight: 700;
        text-align: center; 
        text-decoration: underline; 
        font-family: 'Alegreya Sans', 'serif';
        font-size: 35px;
        color: black;
        text-shadow:
            -1px -1px 0 white,
            1px -1px 0  purple,
            -1px 1px 0 white,
            1px 1px 0 purple;
    }
}

.genre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;
    font-size: 13px;
}

