html {
  height: 100%; 
}

body{
    margin: 0;
    height: 100%; 
    background: url(purple-smoke.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}



